body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}




header {
    /* background-color: #3498db; */
    /* background-color: #5673e2; */
    /* color: #fff; */
    text-align: center;
    padding: 0px;
    margin-bottom: 20px;
    height: 180px;
}



img.mainLogo{
    width: 10%;
    text-align: left;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #5673e2;
    font-size: 16px;
    transition: font-size 0.3s; /* Transition de 0.3s pour l'effet de grossissement */
}

nav a:hover {
    font-size: 18px; /* Taille de police plus grande lorsqu'on survole le lien */
}

section {
    padding: 20px;
    margin: 20px 0;
}

footer {
    /* background-color: #2c3e50; */
    background-color: #5673e2;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}


img.news{
    width: 80%;
}